.images{
    height: 700px;
    width: auto;
}

.button{
    position: absolute;
    left:50%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.labels{
    font-size: 30px;
}